* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  font-family: sans-serif;
  font-size: 14px;
}

.projects {
  background: rgba(0, 184, 139, 0.3);
  margin: 2%;
}

.projects__img {
  height: 100%;
  object-fit: cover;
  object-position: center center;
  padding: 3%;
}

.h2 {
  color: #273c75;
  font-weight: bold;
}

.text__paragraph {
  color: white;
  font-weight: bold;
  font-size: 20px;
}

/*--------------------Education----------------*/
.education {
  margin: 2%;
}

.education__img {
  width: auto;
  height: 150px;
}

.education__paragraph {
  font-size: 17px;
  font-weight: bold;
}

.img__CNI {
  height: 100%;
  object-fit: cover;
  object-position: center center;
  padding: 5%;
}

.img__UCI {
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.img__profile {
  height: auto;
  width: 270px;
  align-items: center;
  margin: 5%;
}

.card {
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.25s;
}

.card:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

/*------------AboutMe----------------*/
.about {
  background: rgba(39, 60, 117, 0.9);
  margin: 2%;
}

/*------------Contact---------------*/
.contact {
  margin: 2%;
}

.contact__link {
  color: black;
}

.icon__size {
  font-size: 60px;
}

.footer {
  box-shadow: 5px 5px 5px #190000;
  background: #030510;
  height: 80px;
  width: 100%;
  color: white;
}

.footer__copyright {
  font-size: 17px;
}

.footer__buttom {
  background: rgba(0, 210, 255, 0.24) !important;
  border: 2px solid #119AB7 !important;
  width: 180px;
  height: 50px;
  color: white;
}

.presentation {
  background: url(../img/code-1839406_640.jpg);
  background-attachment: fixed;
  /* ancla la imagen a la pantalla*/
  background-repeat: no-repeat;
  background-size: cover;
  /* la imagen se encaja en la pantalla*/
  margin: 2%;
}

.presentation__backgroud {
  background: rgba(254, 242, 239, 0.7);
}

.presentation__paragraph {
  font-size: 24px;
  font-weight: bold;
  color: #040815;
}

.presentation__buttom {
  background: #273c75;
  --color:white;
  --hover:#000;
  color: var(--color);
  transition: .25s;
}

.presentation__buttom:hover {
  border-color: var(--hover);
  color: white;
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  -webkit-transform: translateY(-0.25em);
  transform: translateY(-0.25em);
}

.presentation__buttom:focus {
  border-color: var(--hover);
  color: white;
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  -webkit-transform: translateY(-0.25em);
  transform: translateY(-0.25em);
}

.presentation__img {
  display: block;
  margin: auto;
  height: 325px;
  width: auto;
  border-radius: 1em;
}

.h1 {
  color: #273c75;
  font-weight: bold;
}

.nav {
  border: 1px solid #808080;
  box-shadow: 5px 5px 5px #190000;
  background: #040815;
  color: white;
}

.nav__link {
  font-size: 20px;
  color: white !important;
}

.nav__link--title {
  font-size: 24px;
}

.nav__link:hover {
  text-decoration: underline;
  color: white;
}

@media screen and (max-width: 500px) {
  .text__paragraph {
    font-size: 17px;
  }
  .h1 {
    font-size: 27px;
  }
  .presentation__paragraph {
    font-size: 20px;
  }
}
